<div class="panel panel-default" ng-controller="bookController as bookCtrl">
	    <div class="panel-heading">Books page</div>
	    <div class="panel-body">
   		{{bookCtrl.test}}
   		<div ng-hide="bookCtrl.isHidden">
        	<h3><span>Books table</span></h3>
        	<table class="table">
        		<tr>
        			<th>{{'Book Title' | uppercase}}</th>
        			<th>{{'Genre' | uppercase}}</th>
        			<th>{{'Year Published' | uppercase}}</th>
        		</tr>
        		<tr ng-repeat="book in bookCtrl.books">
        			<td>{{book.bookTitle}}</td>
        			<td>{{book.genre}}</td>
        			<td>{{book.yearPublished}}</td>
                    <td><button class="btn" ng-click="bookCtrl.deleteBook(book)">Delete</button></td>
        		</tr>
        	</table>
        </div>
	</div>
</div>